services:
  arrtalk:
    image: ghcr.io/roccorakete/arrtalk:latest
    environment:
      - SONARR_ENABLE=true
      - SONARR_HOST=<SONARR IP/HOST+PORT>
      - SONARR_API=<SONARR API>
      - RADARR_ENABLE=true
      - RADARR_HOST=<RADARR IP/HOST+PORT>
      - RADARR_API=<RADARR API>
      - JELLYFIN_ENABLE=true
      - JELLYFIN_HOST=<JELLYFIN IP/HOST+PORT>
      - JELLYFIN_API=<JELLYFIN API>
